@model PaginacionViewModel//PONER EN INGLES

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>
<button class="btn btn-primary" onclick="window.location.href='/Customer/Create'">Nuevo Cliente</button>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Customeraddress</td>
                <td>@customer.Phone</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.Id">Editar</a> |
                    <form asp-action="Delete" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Cliente?');">
                        <input type="hidden" name="id" value="@customer.Id" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (Model.PaginaActual > 1)
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PaginaActual - 1 })">Anterior</a>
    }

    Página @Model.PaginaActual de @Model.TotalPaginas

    @if (Model.PaginaActual < Model.TotalPaginas)
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PaginaActual + 1 })">Siguiente</a>
    }
</div>

<button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/Home/Index'">Volver </button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
