@model List<HardwareStore.Data.Entities.Clients>
@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Cliente</h2>
<button class="btn btn-primary" onclick="window.location.href='/Client/Create'">Nuevo Cliente</button>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clients in Model)
        {
            <tr>
                <td>@clients.FirstName</td>
                <td>@clients.LastName</td>
                <td>@clients.Customeraddress</td>
                <td>@clients.Phone</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@clients.Id">Editar</a> |
                    <form asp-action="Delete" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Cliente?');">
                        <input type="hidden" name="id" value="@clients.Id" />
                        <button type="submit">Eliminar</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}