@model PaginationResponse<HardwareStore.Data.Entities.Employee>
@{
    ViewData["Title"] = "Empleados";
}

<div class="card-body mt-2">
    <h2>Lista de Empleados</h2>
    <button class="btn btn-primary" onclick="window.location.href='/Employee/Create'">Nuevo Empleado</button>

    <div class="card-body mt-2">
        <form class="navbar-search" asp-action="Index" method="GET">
            <input type="hidden" name="Page" value="@Model.CurrentPage" />
            <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />
            <div class="input-group mb-3">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar.." aria-label="Search" asp-for="@Model.Filter" name="Filter">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>

        @if (Model != null && Model.List != null && Model.List.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
                            <td> @Html.DisplayFor(modelItem => item.LastName) </td>
                            <td> @Html.DisplayFor(modelItem => item.Age) </td>
                            <td> @Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <form asp-action="Delete" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Producto?');">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Ocurrió un error al obtener la lista de empleados.
            </div>
        }
        @* Pagination *@
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @* Primero *@
                <li class="page-item">
                    <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Page="1"
                       asp-route-Filter="@Model.Filter"
                       asp-route-RecordsPerPage="@Model.RecordsPerPage">
                        &laquo;
                    </a>
                </li>
                @* Anterior *@
                <li class="page-item">
                    <a class="page-link @(!Model.HasPrevious ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.Filter"
                       asp-route-Page="@(Model.CurrentPage - 1)"
                       asp-route-RecordsPerPage="@Model.RecordsPerPage">
                        &lsaquo;
                    </a>
                </li>
                @* Paginas *@
                @foreach (int page in Model.Pages)
                {
                    <li class="page-item">
                        <a class="page-link @(Model.CurrentPage == page ? "active" : "" )"
                           asp-action="Index"
                           asp-route-Filter="@Model.Filter"
                           asp-route-Page="@(page)"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            @(page)
                        </a>
                    </li>
                }
                @* Siguiente *@
                <li class="page-item">
                    <a class="page-link @(!Model.HasNext ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.Filter"
                       asp-route-Page="@(Model.CurrentPage + 1)"
                       asp-route-RecordsPerPage="@Model.RecordsPerPage">
                        &rsaquo;
                    </a>
                </li>
                @* Último *@
                <li class="page-item">
                    <a class="page-link @(Model.TotalPages == Model.CurrentPage ? "disabled" : "" )"
                       asp-action="Index"
                       asp-route-Filter="@Model.Filter"
                       asp-route-Page="@Model.TotalPages"
                       asp-route-RecordsPerPage="@Model.RecordsPerPage">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/Home/Index'">Volver</button>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function (event) {
                event.preventDefault();
                Swal.fire({
                    title: "¿Desea eliminar la sección?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = $(this).closest('form');
                        form.submit();
                    }
                });
            });
        });
    </script>
}