@model HardwareStore.Data.Entities.Products
@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo Producto</h1>
<form class="row g-3" asp-action="Create" method="Post">
    <div class="col-md-12">
        <div class="form-floating form-group">
            <input asp-for="Name" class="form-control" placeholder="@Html.DisplayFor(model => model.Name)">
            <label>@(Html.DisplayNameFor(model => model.Name))</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating form-group">
            <input asp-for="Price" class="form-control" placeholder="@Html.DisplayFor(model => model.Price)">
            <label>@(Html.DisplayNameFor(model => model.Price))</label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-floating form-group">
            <input asp-for="Stock" class="form-control" placeholder="@Html.DisplayFor(model => model.Stock)">
            <label>@(Html.DisplayNameFor(model => model.Stock))</label>
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="window.location.href='/Products/Index'">Guardar</button>
        <button onclick="window.location.href='/Products/Index'" class="btn btn-secondary">Volver</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

