@model List<HardwareStore.Data.Entities.Products>
@{
    ViewData["Title"] = "Index";
}
<h2>Lista de Productos</h2>
<button class="btn btn-primary" onclick="window.location.href='/Products/Create'">Nuevo Producto</button>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Editar</a> |
                    <form asp-action="Delete" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/Home/Index'">Volver </button>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}